<% provide(:title, 'About') %>
<h1>About</h1>

<p>The objective of this project is to design model associations and build a basic web app that emulates core features of <a href="https://www.eventbrite.com" target="_blank">Everbrite</a>.</p>

<p>A user can create events. A user can attend many events. An event can be attended by many users.</p>

<p>Now that the database have been seeded; feel free to create new events, users and attendances</p>

View source code <a href="https://github.com/Jberczel/private_events">here</a>.
