<h1><%= @user.name %>
<small><%= @user.email %></small></h1>

<%
=begin %> 
<% if @user_events.any? %>
<%
=end %>
<div class="text-center">
<%= link_to "Create New Event", new_event_path, class: "btn btn-success" %> 
</div>
<%= render 'shared/table', object: @user.events, as: 'events' %>
<%
=begin %> 
<% end %>
<%
=end %>