<footer class="footer">
  <small>
  	An Event Planner Webapp by <a href="https://github.com/jcromerohdz">Christian Romero</a> and <a href="https://github.com/geraldgsh">Gerald Goh</a>
  </small>
</footer>